.tag-con{
    width:2rem;
    height:2rem;
    position:fixed;
    right:0;
    bottom:0;
    i:hover{
        opacity: 1;
    }
    i{
        font-size:2rem;
        opacity: 0.5;
    }
    .fa .fa-arrow-circle-up{
       font-size:2rem;
       
    }
}