.topic-con{
    width:100%;
    height:115px;
    padding-bottom: 15px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    line-height: 1.5em;
    .list-top{
        margin:8px 0;
        font-size:12px;
    }
}