.topiclist{

}
.load-more{
    text-align: center;
    margin:100px 0;
    .load-btn{
         background-color:#FA8072;
          height:80px;
          width:300px;
          border-radius:3px;
          margin: auto;
          padding:10px 5px;
          font-size:40px;
          color:white;
          line-height:80px;
    }   
}
.topic-con{
    width:100%;
    margin-bottom:30px;
    padding-bottom: 30px;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    line-height: 1.5em;
    .list-top{
        margin:20px 0;
        font-size:14px;
    }
    .title{
            margin:50px 0;
            font-size:40px;
            .link-title{line-height:55px;}
        }
   span{
       margin:0 10px;
       font-size:14px;
   }
}
a:link{
    color:#000;
    text-decoration: none;
}
a:visited{
    color:#000;
    text-decoration: none;
}
