.topiclist{
    width:100%;
}
.load-more{
    text-align: center;
    margin:1rem 0;
    .load-btn{
         background-color:#FA8072;
          height:1.5rem;
          width:7rem;
          border-radius:3px;
          margin: auto;
          padding:0.5rem 0.3rem;
          font-size:1rem;
          color:white;
          line-height:1.5rem;
    }   
}
.topic-con{
    width:100%;
    margin-bottom:0.5rem;
    padding-bottom: 0.5rem;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    line-height: 1.5em;
    .list-top{
        margin:0.5rem 0;
        font-size:0.5rem;
    }
    .title{
            margin:0 0;
            font-size:1rem;
            .link-title{
                line-height:1rem;
                }
        }
   span{
       margin:0 10px;
       font-size:14px;
   }
   a:link{
    color:#000;
    text-decoration: none;
}
a:visited{
    color:#000;
    text-decoration: none;
}
}

