
.page-top{
    height:1.5rem;
    line-height:1.5rem;
    .nav-con{
         height:1.5rem;
        font-size:0.5rem;
        list-style:none;
        margin:0.5rem 0;
         padding:0;
        background-color: #f1f1f1;
        li{
            list-style:none;
            margin:0 0.2rem;
            padding:0 0.5rem;
            float:left;
            border-radius:5px;
            background-color:#FA8072;
            color:white;
        }
    }
}